html {
    height: 100%;
    width: 100%;
    /*--ion-font-family: "Poppins",sans-serif !important; */
}

input.form-control {
    background-color: #f5f5f5 !important;
    border: 0px;
    border-radius: 15px !important;
}

html body.swal2-height-auto {
    height: -webkit-fill-available !important;
}

.searchbar-input-container .searchbar-input {
    border-radius: 15px !important;
    height: 48px;
}

.btn {
    border-radius: 13px !important;
}

.modal-header .modal-title{
    margin: 0;
}

ion-card {
    border-radius: 14px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px;
    margin-left: unset;
    margin-right: unset;
    margin-inline: 16px;
}

ion-datetime {
    width: 100%;
    max-width: unset;
}

ion-header {
    z-index: 100;
}

ion-toolbar {
    --border-color: #fff;
}

.modal .modal-dialog .modal-content {
    border-radius: 20px;
}

.divider {
    border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))))
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animated2 {
    animation-duration: 1.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.4s;
    -webkit-animation-fill-mode: both
}

.animated3 {
    animation-duration: 1.8s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.8s;
    -webkit-animation-fill-mode: both
}

.animated4 {
    animation-duration: 2.2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-fill-mode: both
}

.animated5 {
    animation-duration: 2.6s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2.6s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


ion-content{
    --ion-background-color:#f6f6f6;
}

ion-toolbar, ion-tabs, ion-tab-bar, ion-tab-button, .toolbar-background {
    --ion-background-color:#fff;
    background-color: #fff
}

.text-muted2 {
    color: #bbb !important;
}

ion-select, ion-input {
    background-color: #fff !important;
    border-radius: 20px !important;
}


ion-button {
    --border-radius: 20px;
    border-radius: 20px;
}

.input-modif input {
    height: 50px !important;
    padding-left: 15px !important;
}

.popular ion-card {
    margin-inline: 10px !important;
}

.ecm-badge {
    background: linear-gradient(to left, #29aaa9 , #397ea5);
                border-radius: 20px; font-size:smaller
}

.tipm-badge {
    background: linear-gradient(to right, #4b7838 , #67b048);
                border-radius: 20px; font-size:smaller
}

.opacity {
    opacity: .5;
}


.swal2-modal {
    border-radius: 20px !important;
}


.prod-sub-title{
    /*font-size:1.3vh;*/
    font-size: 12px;
}

.prod-title {
    /*font-size:1.6vh;*/
    font-size: 15px;
}

.add-dimentions {
    width: 44px; height: 42px;
}

.sale-banner {
  z-index: 1000; height: 70px; top: -4px; right: -4px;
}

.out-of-stock-banner {
  z-index: 1000; position: absolute; left: 0; right: 0; top: 10px; bottom: 0;
  height: 100px;
}

.out-of-stock-banner img {
  height: 100px;
}

.price-display {
  line-height: 1;
}

.price-display span.regular-price {
  font-size: 1.4vh;
}

.rounded-input {
    border-radius: 20px !important;
}

div.ytp-gradient-bottom, div.ytp-gradient-top {
    display: none;
    background: none !important;
}

.center-absolute {
    margin-left: auto; margin-right: auto; left: 0; right: 0;
}